img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -100px;

}
html {
    margin: 0 auto;
}
input {
    border: 1px solid rgb(196, 189, 189);
    border-radius: 25px;
    padding: 20px; 
    width: 400px;
    height: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -150px;
}
